<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="/css/StudentForm.css"/>
<title>student insertion</title>
</head>
<body>
	<a th:href="@{Index}">Home</a>
	<div>
		<fieldset>
			<legend>New student</legend>
			<form th:action="@{Save}" method="post" th:object="${student}" enctype="multipart/form-data">
				<label for="nom"> name</label>
				<input type="text" id="nom" th:field="*{name}" /><br/><!-- on we can also use ${student.name}@ -->
				<label for="dateNaissance"> birth date</label>
				<input type="date" id="dateNaissance" th:field="*{birthdate}" /><br/>
				<label for="courrier"> Email</label>
				<input type="email" id="courrier" th:field="*{email}"/><br/>
				<label for="photo"> photo</label>
				<input type="file" id="photo" name="picture"  /><br/>
				<input type="submit" value="submit"/><br/>
			</form>
		</fieldset>
		
	</div>
</body>
</html>